.input_box{
    width: 90%;
    padding: 1em;
    font-size: 25px;
    border: none;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.input {
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
}
.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(20, 20, 20, 0.567);
    outline: none;
}
.input_submit{
    margin: 1em;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}