.input_box{
    width: 90%;
    padding: 1em;
    font-size: 21px;
    border: none;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.input {
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
}
.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(20, 20, 20, 0.567);
    outline: none;
}
.input_submit{
    margin: 1em;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.todo_list {
   display: flex;
   justify-content: space-evenly;
   width: 90%;
   flex-wrap: wrap;

}
.todo_list_item{
    font-family: monospace;
    font-size: 25px;
    border-radius: 10px;
    padding: 1em;
    background-color: black;
    margin-top: 1em;
    display: flex;
}
.todo_done {
    font-family: monospace;
    font-size: 25px;
    border-radius: 10px;
    padding: 1em;
    background-color: green;
    margin-top: 1em;
    display: flex;
    text-decoration:line-through;
}
.icon{
    display: block;
    float: right;
    align-content: center;
    padding: 1px 1px 1px 1px;
    border: 2px solid white;
    border-radius: 50px;
    color: green;
    background-color: white;
    font-size: 35px;

}