.input--form {
    display: flex;
    width: 50%;
    position: relative;
    align-items: center;
}

.todo--list {
   display: flex;
   justify-content: space-evenly;
   width: 90%;
   flex-wrap: wrap;

}
.todo--list-item {
    font-family: monospace;
    font-size: 25px;
    border-radius: 10px;
    padding: 1em;
    background-color: black;
    margin-top: 1em;
    display: flex;
}
.todo--done {
    background-color: green;
    text-decoration:line-through;
}

.icon{
    display: block;
    float: right;
    align-content: center;
    padding: 1px 1px 1px 1px;
    border: 2px solid white;
    border-radius: 50px;
    color: green;
    background-color: white;
    font-size: 35px;

}